@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
ul {
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    background-color: #ac5700;
    background-position: 50px;
    margin-top: auto;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

body { 
    text-align: center;
    background-color: #72726b;
}

button {
    background-color: #ac5700;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  label {
    font-family: monospace;
    font-size: 40px;
}

p {
    font-family: monospace;
    font-size: 25px;
}

a { 
    color: white; 
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
  }
        
        button[data-setter] {
         
          background: transparent;
          padding: 0%;
          border: none;
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 18px;
          width: 20px;
          height: 20px;
          color: #ac5700;
          cursor: pointer;
        }
        
        button[data-setter]:hover { opacity: 0.5; }
        
        .container {
          position: absolute;
          top: 150px;
          padding-left: 500px;
          width: 500px;
          margin: 0 auto;
        }
        
        .setters {
            position: absolute;
            left: 85px;
            top: 0px;
          }
          
        .minutes-set {
            margin-top: 80px;
            margin-left: 300px;
            margin-right: 650px;
          }
        
        .seconds-set { 
            margin-top: -30px;
            margin-left: 700px;
            margin-right: 850px;
        
        }
        
        .controlls {
          position: absolute;
          left: 75px;
          top: 105px;
          text-align: center;
        }
        
        .display-remain-time { 
          font-family: 'Roboto';
          font-weight: 100;
          font-size: 65px;
          color: #ac5700;
          top: 150px;
          padding-left: 600px;
        }
        
        #pause {
          outline: none;
          background: transparent;
          border: none;
          margin-top: 10px;
          width: 50px;
          height: 50px;
          position: relative;
        }
        
        .play::before {
          display: block;
          content: "";
          position: absolute;
          top: 8px;
          left: 325px;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 22px solid #ac5700;
        }
        
        .pause::after {
          content: "";
          position: absolute;
          top: 8px;
          left: 320px;
          width: 15px;
          height: 30px;
          background-color: transparent;
          border-radius: 1px;
          border: 5px solid #ac5700;
          border-top: none;
          border-bottom: none;
        }
        
        #pause:hover { opacity: 0.8; }
        
        .e-c-base {
          fill: none;
          stroke: #B6B6B6;
          stroke-width: 4px
        }
        
        .e-c-progress {
          fill: none;
          stroke: #ac5700;
          stroke-width: 4px;
          transition: stroke-dashoffset 0.7s;
        }
        
        .e-c-pointer {
          fill: #FFF;
          stroke: #ac5700;
          stroke-width: 2px;
        }
        
        #e-pointer { transition: transform 0.7s; }
        h1 { margin-top:150px; text-align:center;}
        body { background-color: #72726b;}