ul {
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    background-color: #ac5700;
    background-position: 50px;
    margin-top: auto;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

body{ 
    text-align: center;
    background-color: #72726b;
}

h4 {
    font-family: monospace;
    font-size: 40px;
  }

h5 {
    font-family: monospace;
    font-size: 20px;
  }

p {
    font-family: monospace;
    font-size: 35px;
    background-color: #ac5700;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 15px;
}

button{
    background-color: #ac5700;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }